:root {
    --caribbean-current: #006c67;
    --old-gold: #e2c044;
    --salmon-pink: #f48498;
    --cafe-noir: #4f3824;

    --primary-color: var(--old-gold);
    --primary-color-light: var(--old-gold);
    --primary-color-dark: var(--old-gold);

    --accent-color: var(#e2c044);
    --accent-color-light: var(#eed98e); /* get lighter shade! */
    --accent-color-dark: var(#cba61f); /* get darker shade! */

    --secondary-color: var(--old-gold);
    --secondary-color-light: var(--old-gold); /* get lighter shade! */
    --secondary-color-dark: var(--old-gold); /* get darker shade! */
}
