/* base body style */

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* css variables */
:root {
    /* colors */
    --primary-color: rgb(51, 51, 51, 0.9);
    --primary-color-light: rgb(51, 51, 51, 0.8);
    --primary-color-dark: rgb(51, 51, 51);

    --accent-color: rgb(114, 109, 168, 0.9);
    --accent-color-light: rgb(114, 109, 168, 0.8);
    --accent-color-dark: rgb(114, 109, 168);

    --cta-color: rgb(255, 51, 102, 0.9);
    --cta-color-light: rgb(255, 51, 102, 0.8);
    --cta-color-dark: rgb(255, 51, 102);

    --text: rgb(255, 255, 255);
    --primary-bg-color: #ffffff;

    --main-text-font: "Poppins", sans-serif;
    --secondary-text-font: "Doto,sans-serif";

    --color-option-primary: #f6c5af;
    --color-option-secondary: #1b998b;
    --color-option-tertiary: #ac3931;

    /* shadows */
    --text-outline: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333,
        1px 1px 0 #333333;
    --shadow-multi-depth: rgba(12, 12, 12, 0.17) 0px -23px 25px 0px inset,
        rgba(12, 12, 12, 0.15) 0px -36px 30px 0px inset,
        rgba(12, 12, 12, 0.1) 0px -79px 40px 0px inset,
        rgba(12, 12, 12, 0.06) 0px 2px 1px, rgba(12, 12, 12, 0.09) 0px 4px 2px,
        rgba(12, 12, 12, 0.09) 0px 8px 4px, rgba(12, 12, 12, 0.09) 0px 16px 8px,
        rgba(12, 12, 12, 0.09) 0px 32px 16px;
    --shadow-soft-fade: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --shadow-box: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* universal classes */
.color-option-primary_bg {
    background-color: var(--color-option-primary);
}

.color-option-secondary_bg {
    background-color: var(--color-option-secondary);
}
.color-option-tertiary_bg {
    background-color: var(--color-option-tertiary);
}

.hidden {
    display: none;
}
