.text-field-wrapper {
  display: flex;
  gap: 18px;
  padding: 9px;
  color: var(--text-color);
}

.text-field-wrapper > input {
  border-radius: 3px;
}

.text-field-wrapper > label {
  text-transform: capitalize;
}
