/* TODO REFACTOR ME! */

.note-view-new-tag-box {
    background-color: orange;
    padding: 3px 6px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.note-view-tag {
    padding: 3px;
}

.tag-delete-btn {
    cursor: pointer;
    margin: 0 3px;
    color: var(--text);
    font-size: larger;
}
.tag-delete-btn:hover {
    color: #555555;
}
