.note-view {
    font-family: var(--main-text-font);
    min-height: 80%;
    border-radius: 3px;
    display: grid;
    grid-template-rows: 2fr 8fr 2fr;
    margin-top: 27px;
    box-shadow: var(--shadow-box);
    background-color: #ffff88;
}

.note-view-content:focus,
.note-view-content,
.note-view-title:focus,
.note-view-title {
    border: none;
    border-bottom: 1px solid rgb(51, 51, 51, 0.2);
    outline: none;
}

.note-view-title {
    font-family: inherit;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 9px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.note-view-content {
    font-family: inherit;
    padding: 9px;
    background-color: inherit;
    resize: none;
}

.note-view-tag-list {
    box-shadow: var(--shadow-box);
    display: flex;
    align-items: center;
    padding: 9px;
}
.note-view-tag-box {
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 3px 6px;
    border-radius: 3px;
    box-shadow: var(--shadow-box);
    background-color: var(--primary-bg-color);
    color: var(--text);
}

.note-view-btn-box {
    display: flex;
    margin-top: 9px;
    gap: 6px;
    justify-content: end;
}
