.card {
    border-radius: 6px;
    padding: 20px;
    color: black;
    height: 4rem;
    cursor: pointer;
    font-family: var(--main-text-font);
    box-shadow: var(--shadow-soft-fade);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-color-default {
    background-color: #ffff88;
}

.card-display {
    margin: 21px 0;
    box-shadow: var(--shadow-soft-fade);
    border-radius: 3px;
    min-height: 330px;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    gap: 9px;
    padding: 18px;
}

.card-display-label {
    font-family: var(--main-text-font);
    color: var(--text);
    letter-spacing: 1px;
    padding: 3px;
    text-align: center;
    border-bottom: 2px solid var(--text);
    border-radius: 3px;
    box-shadow: var(--shadow-soft-fade);
    margin: 21px 0;
}

.card-display-btn-box {
    display: flex;
    justify-content: end;
}

.card-display-container {
    margin-bottom: 90px;
}
